In [21]:
import pandas as pd

In [22]:
data = pd.read_csv('student-mat.csv')

In [23]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [24]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [25]:
data.drop(["school","age","reason",], axis=1, inplace=True)

In [26]:
data.head()

,sex,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,traveltime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,F,U,GT3,A,4,4,at_home,teacher,mother,2,...,4,3,4,1,1,3,6,5,6,6
1,F,U,GT3,T,1,1,at_home,other,father,1,...,5,3,3,1,1,3,4,5,5,6
2,F,U,LE3,T,1,1,at_home,other,mother,1,...,4,3,2,2,3,3,10,7,8,10
3,F,U,GT3,T,4,2,health,services,mother,1,...,3,2,2,1,1,5,2,15,14,15
4,F,U,GT3,T,3,3,other,other,father,1,...,4,3,2,1,2,5,4,6,10,10

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
d = {'yes': 1, 'no': 0}
data['schoolsup'] = data['schoolsup'].map(d)
data['famsup'] = data['famsup'].map(d)
data['paid'] = data['paid'].map(d)
data['activities'] = data['activities'].map(d)
data['nursery'] = data['nursery'].map(d)
data['higher'] = data['higher'].map(d)
data['internet'] = data['internet'].map(d)
data['romantic'] = data['romantic'].map(d)

In [29]:
d = {'F': 1, 'M': 0}
data['sex'] = data['sex'].map(d)

d = {'U': 1, 'R': 0}
data['address'] = data['address'].map(d)

d = {'LE3': 1, 'GT3': 0}
data['famsize'] = data['famsize'].map(d)

d = {'T': 1, 'A': 0}
data['Pstatus'] = data['Pstatus'].map(d)

d = {'teacher': 0, 'health': 1, 'services': 2,'at_home': 3,'other': 4}
data['Mjob'] = data['Mjob'].map(d)
data['Fjob'] = data['Fjob'].map(d)

d = {'mother': 0, 'father': 1, 'other': 2}
data['guardian'] = data['guardian'].map(d)

In [30]:
data.head()

,sex,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,traveltime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,1,1,0,0,4,4,3,0,0,2,...,4,3,4,1,1,3,6,5,6,6
1,1,1,0,1,1,1,3,4,1,1,...,5,3,3,1,1,3,4,5,5,6
2,1,1,1,1,1,1,3,4,0,1,...,4,3,2,2,3,3,10,7,8,10
3,1,1,0,1,4,2,1,2,0,1,...,3,2,2,1,1,5,2,15,14,15
4,1,1,0,1,3,3,4,4,1,1,...,4,3,2,1,2,5,4,6,10,10

In [31]:
data.nunique()

sex            2
address        2
famsize        2
Pstatus        2
Medu           5
Fedu           5
Mjob           5
Fjob           5
guardian       3
traveltime     4
studytime      4
failures       4
schoolsup      2
famsup         2
paid           2
activities     2
nursery        2
higher         2
internet       2
romantic       2
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      34
G1            17
G2            17
G3            18
dtype: int64

In [32]:
data.describe()

,sex,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,guardian,traveltime,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,0.526582,0.777215,0.288608,0.896203,2.749367,2.521519,2.483544,2.956962,0.389873,1.448101,...,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,0.499926,0.416643,0.453690,0.305384,1.094735,1.088201,1.421948,1.294530,0.633176,0.697505,...,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,1.000000,2.000000,2.000000,2.000000,2.000000,0.000000,1.000000,...,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,1.000000,1.000000,0.000000,1.000000,3.000000,2.000000,3.000000,4.000000,0.000000,1.000000,...,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,1.000000,1.000000,1.000000,1.000000,4.000000,3.000000,4.000000,4.000000,1.000000,2.000000,...,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [33]:
student_data = data.columns.tolist()
student_data.remove('G1') 
student_data.remove('G2') 
student_data.remove('G3') 
student_data

['sex',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'guardian',
 'traveltime',
 'studytime',
 'failures',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic',
 'famrel',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'health',
 'absences']

In [34]:
X = data[student_data].copy()
X.columns

Index(['sex', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob',
       'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup',
       'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet',
       'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health',
       'absences'],
      dtype='object')

In [35]:
y=data[['G3']].copy()

In [36]:
from sklearn.model_selection import train_test_split
from sklearn import tree

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=100)